<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header_head('Home')"></head>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/pages/home.css}">
	<style type="text/css">
		#upper_card {
			background-image: url("/cover_images/default.jpg");
			background-size: 100% 100%;
		}
		#profile_img {
			background-image: url("/user_images/default.png");
			background-size: 100% 100%;
		}
	</style>
</head>
<body>

	<div id="header" th:include="header::header_body('home')"></div>

	<div id="body_structure" class="container-fluid">
		<div class="row m-1 p-2" id="main_row">
			<div class="col-4 m-1 p-2" id="main_left_column">
				<div id="card_box">
					<div id="full_card">
						<div id="upper_card"></div>
						<div id="profile_img"></div>
						<div id="lower_card">
							<div id="upper_margin"><br/></div>
							<div id="user_name">
								<h2>Siddharth Chabukswar</h2>
								<a href="/myprofile" class="p">@siddharthchabukswar360</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-7 m-2 d-none d-lg-block" id="main_right_column">
			</div>
		
		</div>
	</div>
	
</body>
</html>