<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Signup-Successful</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login_signup/common.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login_signup/signup_style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login_signup/signup_success_style.css}"/>
</head>
<body>

	<div class="loginbox">
		<div>
			<img th:src="@{/img/birdy.png}" class="birdy"/>
		</div>
		<div class="fields">
			<p class="heading"> What's my net worth? </p>
			<p class="welcome"> Signup </p>
			<div>
				<p class="footer">Signup successful.</p>
				<p class="footer">Please login here. <a class="switch" href="/login">Login</a></p>
			</div>
		</div>
	</div>
	
</body>
</html>